 <!-- About Section -->
    <section class="success" id="about">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2>Sobre</h2>
                    <hr class="star-light">
                </div>
            </div>
            <div class="row">
                <div class="col-lg-4 col-lg-offset-2">
                    <p>Olá. Sou Yuri Alessandro , tenho 19 anos e sou um estudante de Bacharelado em Tecnologia da Informação (BTI) no Instituto Metrópole Digital (IMD) na Universidade Federal do Rio Grande do Norte (UFRN) </p>
                </div>
                <div class="col-lg-4">
                    <p>Possuo domínio em algumas linguagens de programação, como C/C++. Também possuo domínio em Latex, uma linguagem de diagramação de texto muito utilizada em textos científicos e matemáticos. Confira meus projetos e saiba mais.</p>
                </div>
            </div>
        </div>
    </section>