<section class="gith" id="github">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2>GitHub</h2>
                    <hr class="star-light">
                </div>
            </div>
            <div class="row">
                <center>
                    <hr>
                        
                        <a href="https://github.com/YuriAlessandro" target="_blank" class="btn btn-primary" role="button">Perfil no GitHub</a>

                        <!--
                        <a class="github-button" href="https://github.com/YuriAlessandro" data-style="mega">Perfil no GitHub</a>
                        
                        <a class="github-button" href="https://github.com/YuriAlessandro" data-style="mega" data-count-href="/YuriAlessandro/followers" data-count-api="/users/YuriAlessandro#followers" data-count-aria-label="# followers on GitHub" aria-label="Follow @YuriAlessandro on GitHub">Seguir @YuriAlessandro</a>
                        -->
                    <hr>
                </center>
            </div>
        </div>
    </section>