    <section id="skills">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2>Habilidades</h2>
                    <hr class="star-primary">
                </div>
            </div>
            <div class="row">
                <div class="col-lg-4 col-lg-offset-2">
                    <center>
                    <p><h1><i class="fa fa-code text-primary sr-icons"></i> C/C++</h1></p>
                    <img class="img-circle" src="img/cpp.png" alt="">
                    <hr>
                    </center>
                    <p align="left" >Domínio amplo de ambas as linguagens, com capacidade de implementação de novos recursos, novas bibliotecas e diversas estruturas de dados, como pode ser visto no <a href="#portfolio"> projeto de TADs</a>, em C++.</p>
                </div>
                <div class="col-lg-4">
                    <center>
                    <p><h1><i class="fa fa-file-text text-primary sr-icons" aria-hidden="true"></i> LaTeX</h1></p>
                    <img class="img-circle" src="img/latex.png" alt="">
                    <hr>
                    </center>
                    <p align="left" >Desenvolvimento de documentos matemáticos e científicos utilizando LaTeX, que inclui boas formatações (matemáticas e textuais), uso de regras da ABNT, referências cruzadas e otimização do documeto. Exemplos de documentos em LaTeX podem ser encontrados no <a href="#portfolio"> projeto BTI-Documents</a>.</p>
                </div>
            </div>
        </div>
    </section>
