    <section id="skills">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2>Habilidades</h2>
                    <hr class="star-primary">
                </div>
            </div>
            <div class="row">
                <div class="col-lg-4 col-lg-offset-2">
                    <center>
                    <p><h1><i class="fa fa-code" aria-hidden="true"></i> C/C++</h1></p>
                    <p align="left" >C++ é uma linguagem estruturada com orientação a objeto muito popular comercialmente. Possuo domínio amplo da linguagem e capacidade de implementação de novos recursos/bibliotecas/estruturas de dados (como no <a href="#portfolio"> projeto de TADs</a>).</p>
                    </center>
                </div>
                <div class="col-lg-4">
                    <center>
                    <p><h1><i class="fa fa-file-text" aria-hidden="true"></i> LaTeX</h1></p>
                    </center>
                    <p align="left" >LaTeX é uma uma linguagem de diagramação de texto muito utilizada em textos cientifícos e matemáticos que proporciona diversas vantagens, como textos formatados automaticamente (inclusive com regras da ABNT), referências cruzadas, etc. Possuo domínio sobre os funcionamentos padrões do LaTeX, além de conhecimento extra para customização e adptação de documentos a outros estilos (você pode conferir no projeto BTI Documents).</p>
                </div>
            </div>
        </div>
    </section>